*{
  box-sizing: border-box;
}
.App {
  text-align: center;

}
.blue{
  color: blue;
}
.red{
  color: red;
}
.green {
  color: green;
}

.crypto-item{
  border: 1px solid rgb(95,95,95);
  padding: 15px;
  flex-basis: 25%;
  margin-left: auto;
  margin-right: auto;
  list-style: none;
  width: 300px;
}
input{
  margin: 15px;
  padding: 10px;
}